@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p{
    font-size:  20px;
    

}

.paragrafo{
    font-size: 35px;
    color: aqua;
    

}

#elementoUnico{
    font-size: 52px;
    color: chocolate;
    word-spacing: 30px;
    letter-spacing: 20px;
    text-transform: uppercase;
    
}

#elemento{
    font-size: 24px;
    color: red;
    background-color: darkseagreen;
    font-family: "Playwrite MX Guides", cursive;
}
#menu{
    font-size: 16px;
    color: white;
    background-color: orangered;
    width: 15;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}